#files
*.png
*.pt
*.mp4
*.txt
#dir
Image Segmenting
ImageStitching
ShapeModel/Training/runs
#Filtering
.DS_Store
venv/
*.pt
build/
vcpkg_installed/
.vscode/
*.png
CMakePresets.json
$ImageStitching/
videos/
models/
